@implements IDisposable
@inject NavigationManager NavigationManager
@rendermode InteractiveServer

<MudNavMenu Bordered>
    <MudNavLink IconColor="Color.Primary" Href="" Match="NavLinkMatch.All" Icon="@Icons.Material.Filled.Home">Home</MudNavLink>
    <MudNavLink IconColor="Color.Warning"  Href="/your-day" Match="NavLinkMatch.All" Icon="@Icons.Material.Filled.WbSunny">Your Day</MudNavLink>
    <MudNavLink IconColor="Color.Info" Href="/a/todos" Match="NavLinkMatch.Prefix" Icon="@Icons.Material.Filled.CheckBox">Todos</MudNavLink>
    <MudNavLink IconColor="Color.Tertiary" Href="/a/habit-tracker" Match="NavLinkMatch.All" Icon="@Icons.Material.Filled.LockClock">Habit Tracker</MudNavLink>
    @*
    <AuthorizeView>
        <Authorized>
            <MudNavLink Href="Account/Manage" Match="NavLinkMatch.Prefix" Icon="@Icons.Material.Filled.Person">@context.User.Identity?.Name</MudNavLink>
            <form action="Account/Logout" method="post">
                <AntiforgeryToken />
                <input type="hidden" name="ReturnUrl" value="@currentUrl" />
                <button type="submit" class="mud-nav-link mud-ripple">
                    <MudIcon Icon="@Icons.Material.Filled.Logout" Color="Color.Info" Class="mr-3"></MudIcon> Logout
                </button>
            </form>
        </Authorized>
        <NotAuthorized>
            <MudNavLink Href="Account/Register" Match="NavLinkMatch.Prefix" Icon="@Icons.Material.Filled.Person">Register</MudNavLink>
            <MudNavLink Href="Account/Login" Match="NavLinkMatch.Prefix" Icon="@Icons.Material.Filled.Password">Login</MudNavLink>
        </NotAuthorized>
    </AuthorizeView>
    *@
</MudNavMenu>

@code {
    private string? currentUrl;

    protected override void OnInitialized()
    {
        currentUrl = NavigationManager.ToBaseRelativePath(NavigationManager.Uri);
        NavigationManager.LocationChanged += OnLocationChanged;
    }

    private void OnLocationChanged(object? sender, LocationChangedEventArgs e)
    {
        currentUrl = NavigationManager.ToBaseRelativePath(e.Location);
        StateHasChanged();
    }

    public void Dispose()
    {
        NavigationManager.LocationChanged -= OnLocationChanged;
    }
}

